.header-blog-title {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.61rem !important;
  color: inherit;
  font-family: 'Helvetica',sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
  line-height: 1.1;
  display: block;
}

ul.nav-list li{
  display: inline !important;
  padding: 0.5rem;
}

header a {
  color: green;
  background-color: white;
}

header a:hover {
  background-color: yellow;
}

a.article-title-link {
  text-decoration: none;
  color: hsla(0,0%,0%,0.8);
 }

 a.article-title-link:hover {
   text-decoration: none;
   color: gray;
  }

article main a:link{
  color: green;
}

article a:hover{
  background-color: green;
  color: white !important;
}

article a:active{
  background-color: yellow;
  color: green !important;
}

article a:visited{
  color: green;
}

footer a:link{
  color: green;
}

footer a:hover{
  background-color: green;
  color: white !important;
}

footer a:active{
  background-color: yellow;
  color: green !important;
}

footer a:visited{
  color: green;
}

a.readmore:link{
  color: green;
}

a.readmore:hover{
  background-color: green;
  color: white !important;
}

a.readmore:active{
  background-color: yellow;
  color: green !important;
}

a.readmore:visited{
  color: green;
}
