body {
  hyphens: auto;
}

.header-blog-title {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.61rem !important;
  color: inherit;
  font-family: 'Helvetica Neue','Helvetica',sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
  line-height: 1.1;
  display: block;
}

ul.nav-list li {
  display: inline !important;
  padding: 0.5rem;
}

header nav a {
  color: green;
  background-color: white;
  font-weight: bold;
}

header nav a:hover {
  background-color: yellow;
  color: green !important;
}

span.nav-links, .nav-links a {
  color: white;
  font-size: 90%;
}

.nav-links a:hover {
  background-color: white;
  color: green;
  text-decoration: overline;
}

a.article-title-link {
  text-decoration: none;
  color: hsla(0,0%,0%,0.8);
 }

a.article-title-link:hover {
   text-decoration: none;
   color: gray;
  }

article a:link, footer a:link, nav a:link,
a.readmore:link, .special-page a:link {
  color: green;
}

article a:hover, footer a:hover, nav a:hover,
a.readmore:hover, .special-page a:hover {
  background-color: green;
  color: white !important;
}

article a:active, footer a:active, nav a:active,
a.readmore:active, .special-page a:active {
  background-color: yellow;
  color: green !important;
}

article a:visited, footer a:visited, nav a:visited,
a.readmore:visited, .special-page a:visited {
  color: green;
}

button.btn-to-top {
  border: none;
  background-color: green;
  color: white;
  padding: 14px 28px;
  font-size: "large";
  cursor: pointer;
}

button.btn-tag:hover, button.btn-to-top:hover {
  background-color: darkgreen;
}

button.btn-tag:active, button.btn-to-top:active {
  background-color: lime;
}

button.btn-tag {
  border: none;
  background-color: green;
  color: white;
  padding: 7px 10px;
  margin-bottom: 0.2rem;
  font-size: "large";
  cursor: pointer;
}

::selection {
  background-color: lime;
  color: white;
}

pre, code {
  background-color: lightyellow;
}

pre {
  padding-left: 0.5rem;
}

.readmore {
  padding-bottom: 15px;
  margin-bottom: 15px;
}
